* {
    box-sizing: border-box;
    overflow: auto;
}
html {
    width: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
main {
    width: 100%;
    height: 100%;
    flex: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.digits-canvas {
    background-color: black;
    display: block;
    margin: auto;
}
h1 {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    text-shadow: 0px 0px 2px black;
    display: inline-block;
    cursor: default;
}
#pipeline, #predict-output {
    width: 500px;
    margin: auto;
    align-content: center;
    text-align: center;
}
#pipeline {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
#predict-output {
    display: block;
    height: 40px;
    padding-top: 6px;
    font-family: 'Georama', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    border: 2px black solid;
    border-radius: 5px 5px 0 0;
    text-shadow: 0px 0px 1.5px black;
}
#clear-btn {
    width: 100%;
    height: 45px;
    margin: auto;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: black;
    border-color: #181818;
    border-radius: 5px;
    color: white;
    text-shadow: 0 0 1px white;
}
#clear-btn:hover {
    cursor: pointer;
}
#clear-btn:active {
    text-shadow: none;
    background-color: rgba(17, 17, 17, 0.938);
    border-color: rgba(17, 17, 17, 0.938);
}
#clear-btn:disabled {
    background-color: rgb(39, 39, 39);
    border-color: rgb(39, 39, 39);
    color: rgba(255, 255, 255, 0.418);
    text-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
}
.top-text {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.8em;
    text-shadow: 0px 0px 2px black;
}
.top-text:hover {
    text-shadow: 0px 0px 1.2px black;
    opacity: 0.4;
    cursor: pointer;
}
.top-text a {
    text-decoration: none;
    color: black;
}
#draw-canvas {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0 0 5px 5px;
}
#draw-canvas:hover {
    cursor: crosshair;
}
.box {
    display: flex;
    justify-content: center;
    flex-direction: column !important;
    align-content: center;
    flex-wrap: wrap;
}